name: Unit Tests

on: [pull_request]

jobs:
  run-ci:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies (with cache)
        uses: bahmutov/npm-install@v1

      - name: Generate Prisma Artifacts
        run: yarn prisma generate

      - name: Run Tests
        run: yarn test
